nav{
    background-color: black;
    color: white;
}
    
.container{
    display: grid;
    grid-template-columns: 1f,1fr,1fr,;
    grid-template-rows: auto;
    height:500px;
    grid-template-areas:
    "nav . . . "
      "main . . .  "
     "main . . ."
    "main. . .";

}

.main-area1 {
    display: grid;

}

.itemA{display: grid;

}
.image{
    justify-items: stretch;
}


